{% extends "layout.html" %}

{% block content %}
<main role="main" class="col pt-3">
  <h1>Direct Commands</h1>

    <div class="row">
      <div class="col-sm-12 col-md-4">
        <h4>Light</h4>
        <button type="button" id="turn_lights_on_button" class="btn btn-primary mt-3">Turn on</button>
        <button type="button" id="turn_lights_off_button" class="btn btn-primary mt-3">Turn off</button>
      </div>
      <div class="col-sm-12 col-md-4">
        <h4>Relay2</h4>
        <button type="button" id="turn_relay2_on_button" class="btn btn-primary mt-3">Turn on</button>
        <button type="button" id="turn_relay2_off_button" class="btn btn-primary mt-3">Turn off</button>
      </div>
      <div class="col-sm-12 col-md-4">
        <h4>Fertilizer Motor</h4>
        <button type="button" id="turn_motor_on_button" class="btn btn-primary mt-3">Turn on</button>
        <button type="button" id="turn_motor_off_button" class="btn btn-primary mt-3">Turn off</button>
        <div class="row pt-2">
            <div class="col">
                <input type="number" id="fertilize_secs_amount_test"/>
                <button type="button" id="fertilize_secs_button" class="btn btn-primary mt-3">Fertilize Seconds</button>
            </div>
        </div>
      </div>
    </div>
    <div class="row pt-5">
        <div class="col">
          <h4>CO<sub>2</sub></h4>
          <button type="button" id="open_co2_button" class="btn btn-primary mt-3">Open</button>
          <button type="button" id="close_co2_button" class="btn btn-primary mt-3">Close</button>
        </div>
    </div>
</main>
{% endblock %}
